body {background-color:black; font-family:arial; color:black}
h1{color:grey; font-family:verdana;}

.maindiv {
        left: 50%;
        text-align=center;
        width: 500px;
        background-color:white;
        font-color:black;
        padding:20px;
        border-radius:25px;
    }


